              <div class="profile-tabs">
               <div class="nav-align-center">
                  <ul class="nav nav-pills nav-pills-primary" role="tablist">
                    <li class="active">
                      <a href="#climate" role="tab" data-toggle="tab">
                        <i class="material-icons">timeline</i>
                        Climate Change
                      </a>
                    </li>
                     <li>
                      <a href="#simulation" role="tab" data-toggle="tab">
                        <i class="material-icons">bug_report</i>
                        Ecological simulation
                      </a>
                    </li>
                    <li>
                      <a href="#overfishing" role="tab" data-toggle="tab">
                        <i class="material-icons">directions_boat</i>
                        Overfishing
                       </a>
                    </li>
                    <li>
                      <a href="#spatial" role="tab" data-toggle="tab">
                        <i class="material-icons">my_location</i>
                        Spatial movement
                      </a>
                    </li>
                    <li>
                    <a href="#extinction" role="tab" data-toggle="tab">
                      <i class="material-icons">trending_down</i>
                      Mass Extinctions
                    </a>
                    </li>
                     <li>
                    <a href="#cloud" role="tab" data-toggle="tab">
                      <i class="material-icons">cloud</i>
                      Cloud computing
                    </a>
                    </li>
                    </ul>

                    <div class="tab-content gallery">
                    <div class="tab-pane active" id="climate">
                      <div class="row">
                        <div class="col-md-6">
                          <h3>Concepts</h3>
                          <ul class="list-group">
                            <li class="list-group-item">CO2 concentration</li>
                            <li class="list-group-item">Global mean temperature</li>
                            <li class="list-group-item">Sea level rise</li>
                            <li class="list-group-item">Land ice sheet melt</li>
                            <li class="list-group-item">Arctic sea ice cover</li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <h3>Skills</h3>
                          <ul>
                            <li class="list-group-item">Data wrangling: plain text formats</li>
                            <li class="list-group-item">Tidy data (intro)</li>
                            <li class="list-group-item">Data visualization</li>
                            <li class="list-group-item">Smoothing</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane text-center" id="spatial">
                      <div class="row">
                        <div class="col-md-6">
                          Left Column
                        </div>
                        <div class="col-md-6">
                          right column
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane text-center" id="simulation">
                      <div class="row">
                        <div class="col-md-12">
                          Wide entry
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane text-center" id="overfishing">
                      <div class="row">
                        <div class="col-md-6">
                        unit 4 L
                        </div>
                        <div class="col-md-6">
                        unit 4 R
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane text-center" id="extinction">
                      <div class="row">
                        <div class="col-md-6">
                          unit 5 L
                        </div>
                        <div class="col-md-6">
                          unit 5 R
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane text-center" id="cloud">
                      <div class="row">
                        <div class="col-md-6">
                          unit 5 L
                        </div>
                        <div class="col-md-6">
                          unit 5 R
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Profile Tabs -->
