<b>Note:</b> Due dates of bigger assignments and exams will not move, however the timeline of topics might be updated throughout the semester.

<br><br>

<table class="table" style="max-width:900px;margin-left:auto;margin-right:auto">
  <tr>
    <th style="width:15%;text-align:right">Date</th>
    <th style="width:55%">Lesson</th>
    <th style="width:7.5%;text-align:center">Reading</th>
    <th style="width:7.5%;text-align:center">Assignment</th>
    <th style="width:7.5%;text-align:center">Slides</th>
    <th style="width:7.5%;text-align:center">Exam</th>
  </tr>

  {{ range $.Site.Data.lessons }}
    {{range . }}
    <tr>
      <td align="right">{{ .date }}</td>
      <td>{{ .title }}</td>
      
      {{ if .reading }}
      <td align="center"><a href="{{ .Site.baseurl }}/reading/{{ .reading  }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}

      {{ if .assignment }}
      <td align="center"><a href="{{ .Site.baseurl }}/assignment/{{ .assignment }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .slides }}
      <td align="center"><a href="{{ .Site.baseurl }}/slides/{{ .slides  }}">
          <i class="fa fa-file-image-o  fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-file-image-o  fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .exam }}
      <td align="center"><a href="{{ .Site.baseurl }}/exam/{{ .assignment }}">
          <i class="fa fa-check-circle fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-check-circle fa-lg"></i></font></td>
      {{ end }}
    </tr>
    {{ end }}
  {{ end }}

</table>